* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  background-color: white;
}

.movie-card {
  width: 450px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  gap: 15px;
  margin-bottom: 50px;
  box-shadow: 1px 3px 30px 4px rgba(0, 0, 0, 0.149);
}

h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 40px;
  color: black;
}

img {
  object-fit: cover;
  border-radius: 10px;
}

.movie-info {
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 17px;
}

.genres {
  display: flex;
}

.genres div {
  background-color: #eaac99;
  border-radius: 10px;
  padding: 1.5px 10px;
  margin-left: 8px;
  width: auto;
  font-size: 16px;
}
